@using DatatableHtmlHelper.DataTableHelper
@{
    Layout = null;
    var dataTableColumns = new List<DataTableColumn>()
    {
        new DataTableColumn("Office","Office", 3,false),
        new DataTableColumn("Name","Name", 1,false),
        new DataTableColumn("Position","Position", 2,false),
        new DataTableColumn("Start Date","StartDate", 5,false),
        new DataTableColumn("Salary","Salary", 6,false),
        new DataTableColumn("Salary","Age", 4,false)
    };
}
<!DOCTYPE html>
<html>
<head>
    <title>Data table</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.3/dt-1.10.12/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.3/dt-1.10.12/datatables.min.js"></script>
</head>
<body>

    @Html.Datatable("datatable").AddColumns(dataTableColumns).AddHtmlAttributes(new { @class = "display", cellspacing = "0", width = "100%" }).AddDataTableOption(new
{
    processing = true,
    serverSide = true,
    ajax = Url.Action("GetData","Employee"),
    paging=true
}).ToHtml()
</body>
</html>
